# Dependency directories
node_modules/
jspm_packages/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environmental variables
.env
.env.test
.env.staging
.env.production
.env.local

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Distribution
dist/
build/
